.vip {
  // 菜单样式
  $meun-bg-main-color: #031527;
  $menu-text-color: #b4b9bf;
  $menu-active-bg-color: #0c141e;
  $menu-active-text-color: #f6ca9d;
  $menu-hover-bg: #0c141e;
  $menu-hover-text-color: #fff;

  // 折叠后菜单弹出层样式
  $meun-popup-bg: #031527;
  $meun-popup-text-color: #b4b9bf;
  $meun-popup-active-bg-color: #031527;
  $meun-popup-active-text-color: #f6ca9d;
  $meun-popup-hover-bg: #031527;
  $meun-popup-hover-text-color: #fff;

  $top-title-bg: #031527;
  $top-title-text-color: #f6ca9d;
  // 顶部功能区样式
  $top-bar-bg: #031527;
  $top-bar-text-color: #f6ca9d;

  // tag样式
  $tag-text: #031527;
  $tag-active: #f6ca9d;
  .layout-container {
    // 菜单样式
    .menu-scrollbar {
      background: $meun-bg-main-color;
      .top-title {
        background: $top-title-bg;
        box-sizing: border-box;
        border-right: 1px solid $top-title-text-color;
        border-bottom: 1px solid $top-title-text-color;
        color: $top-title-text-color;
      }
      .el-menu {
        background: $meun-bg-main-color;
        .el-menu-item.is-active {
          background: $menu-active-bg-color;
          color: $menu-active-text-color;
        }
        .el-menu-item {
          color: $menu-text-color;
          &:hover {
            background: $menu-hover-bg !important;
            color: $menu-hover-text-color;
          }
        }
      }
      .el-sub-menu {
        &__title {
          color: $menu-text-color;
          &:hover {
            color: $menu-hover-text-color;
            background: $menu-hover-bg !important;
          }
        }
      }
    }
    // 顶部菜单样式
    .top-bar {
      background: $top-bar-bg;
      color: $top-bar-text-color;
      .user-name {
        color: $top-bar-text-color;
      }
      .top-search {
        .el-input__wrapper {
          .el-input__wrapper.is-focus {
            box-shadow: 0 0 0 1px $top-bar-text-color inset;
          }
          .el-input__inner {
            color: $top-bar-text-color;
          }
          input::-webkit-input-placeholder {
            color: $top-bar-text-color;
          }
          input::-moz-input-placeholder {
            color: $top-bar-text-color;
          }
          input::-ms-input-placeholder {
            color: $top-bar-text-color;
          }
        }
      }
    }
    // 顶部tag样式
    .top-tag {
      .el-tabs {
        &__item {
          margin: 2px;
          box-sizing: border-box;
          color: $tag-text;
          line-height: 26px;
          height: 26px;
          border: 1px solid $tag-active !important;
          border-radius: 2px;
        }
        .is-active {
          color: $tag-active;
          border-bottom: 1px solid $tag-active !important;
        }
      }
    }
    // 内容区显示
    .el-main > div {
      opacity: 0.8;
    }
  }
  // 折叠后menu文字的颜色
  .el-menu--collapse {
    .el-sub-menu.is-active {
      .el-sub-menu__title {
        color: $menu-active-text-color;
        background: $menu-active-bg-color;
      }
    }
  }
  // 菜单折叠后弹出层样式
  .el-menu--popup-container {
    .el-menu {
      background: $meun-popup-bg;
      .el-menu-item.is-active {
        background: $meun-popup-active-bg-color !important;
        color: $meun-popup-active-text-color;
      }
      .el-menu-item {
        color: $meun-popup-text-color;
        &:hover {
          color: $meun-popup-hover-text-color;
          background: $meun-popup-hover-bg !important;
        }
      }
      .el-sub-menu {
        background: $meun-popup-bg;
        &__title {
          color: $meun-popup-text-color;
          &:hover {
            color: $meun-popup-hover-text-color;
            background: $meun-popup-hover-bg !important;
          }
        }
      }
    }
  }
}
